---
// src/components/resume/Badge.astro
/**
 * A decorative badge component used to create a timeline effect in the resume sections.
 * It's a circular element styled with the primary color that acts as a focal point on the timeline.
 */
---
<div class="size-3 rounded-full bg-primary"></div>