---
// src/components/resume/Section.astro
/**
 * A reusable component to create a consistent section layout for the resume.
 * It displays a title and provides a slot for the section's content.
 * Now includes a wrapper and styles to support a timeline design for its children.
 *
 * @param {string} title - The title to be displayed for the section.
 * @param {string} [icon] - An optional icon name to display next to the title.
 */
import { cn } from "@/lib/utils";
import { type IconType } from "react-icons";

interface Props {
  title: string;
  Icon?: IconType;
  id?: string;
  containerClassName?: string;
  className?: string;
}

const { title, Icon, id, containerClassName, className } = Astro.props;
---

<section class={cn("space-y-4", containerClassName)} id={id}>
  <div class="flex items-center gap-x-3 text-primary-content bg-primary/85 py-1.5 px-3 w-fit rounded-md">
    {Icon && <Icon className="size-5" />}
    <h2 class="text-xl font-semibold">{title}</h2>
  </div>

  <div class={cn("timeline-container px-2", className)}>
    <slot />
  </div>
</section>

<style>
  /*
    This style block targets any element with the .timeline-item class that is a
    last-child within the .timeline-container. It then hides the .timeline-line
    within that item. This is a clean way to prevent the timeline from extending
    past the final entry in a section.
  */
  .timeline-container :global(.timeline-item:last-child .timeline-line) {
    display: none;
  }
</style>
